<% if logged_in? %>
  <div class="center jumbotron pt-2 pb-2">
    <div class="text-center">
      <h1>Welcome to the RakutenItems Search Service</h1>
    </div>
  </div>

<%= render 'items/search_items', {ritems: @Ritems, items: @items} %>

<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to RakutenItems</h1>
      <%= link_to '新規会員登録はこちら', signup_path, class: 'btn btn-danger rounded-pill pr-4 pl-4' %>
    </div>
  </div>
<% end %>

